@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.landing-top {
    /* maybe replace with bootstrap classes */
    padding-top: 10%;
    
}

.landing-head {
    /* maybe replace with bootstrap classes */
    margin-top: 5%;
}

.name {
    font-size: 1.5em;
}

.tagline {
    font-family: 'Dancing Script', sans-serif;
    /* My chosen margin is so large that Bootstrap's default classes aren't large enough.
    As soon as I learn Sass, I can add more sizes to by adding entries to the Sass map variable */
    margin-top: 15%;
}

@media only screen and (max-width: 668px) {
    .landing-top {
        padding-top: 25%;
    }
    .landing-head {
        font-size: 2.5rem;
    }
    .subHead {
        font-size: 1.5rem;
    }
}