@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url(./assets/back-img/smaller-berger.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Background color that will be displayed while the background image is loading */
    background-color: black;
    font-family: 'Raleway@weight:600', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 4em;
    /* Text-shadows are disabled in Bootstrap by default, but after I learn Sass I can change that setting and use their classes. */
    text-shadow: 2px 2px black;
}

h2 {
    /* font-size: 2em; */
    text-shadow: 2px 2px black;
}

h4, p, a {
    font-family: 'Roboto', sans-serif;
}

h1.portHead {
    font-family:'Raleway@weight:700', sans-serif;
    /* My chosen margin is so large that Bootstrap's default classes aren't large enough.
    As soon as I learn Sass, I can add more sizes to by adding entries to the Sass map variable */
    margin-top: 15%;
    margin-bottom: 100px;
    font-size: 5rem;
}


@media only screen and (max-width: 668px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        margin: 50px;
        text-align: center;
    }
    #pushDown {
        margin-top: 100px;
    }
}